@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import "tailwindcss";

@theme {
  --font-display: "Noto Sans", sans-serif;
  --font-logo: "Pacifico", cursive;
  --color-primary: #555879;
  --color-secondary: #98a1bc;
  --color-tertiary: #ded3c4;
  --color-cuaternary: #f4ebd3;
}
